.main {
  background-image: url("../../assets/images/laptop-wooden-table.jpg");
  background-position: center calc(100vh - 58rem);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
}
